* {
  margin:0;
  padding:0;
}

.App {
  width:100%;
  text-align: center;
}

.ReactTable {
  margin: 0 auto;
  width:580px;
  border-spacing: 0;
  border: 1px solid black;
}
@media (max-width:600px){
  .ReactTable{
    width:90%;
  }
}

th, td {
  padding:0.5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

th:last-child, td:last-child {
  border-right: 0;
}

tr:last-child{
  border-bottom:0;
}